<div id="login">
    <div id="formulario">

        <form>

            <label for="usuario">Usuario</label>

            <br>

            <input type="text" id="usuario" name="usuario" placeholder="Introduce tu usuario" required>

            <br><br>

            <label for="contraseña">Contraseña</label>

            <br>

            <input type="password" id="contraseña" name="contraseña" placeholder="Introduce tu contraseña" required>

            <br><br>

            <input type="checkbox" id="recordar" name="recordar">
            <label for="recordar">Recordar en este equipo</label>

            <br><br>

            <button type="submit">Entrar</button>

        </form>
    </div>

    <a href="#">¿Has olvidado tu contraseña?</a>

</div>