<h1>Store soluciones</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Sector</th>
            <th>ID</th>
            <th>Solución</th>
            <th>ID</th>
            <th>Ámbito</th>
            <th>Response chat</th>
            <th>Data</th>
            <th>Deleted</th>
        </tr>
    </thead>
    <tbody>
        @for(solucion of storeSoluciones; track solucion.idSolucion) {
        <tr>
            <td>{{solucion.idSolucion}}</td>
            <td>{{solucion.sector}}</td>
            <td>{{ solucion.solucionTitle }}</td>
            <td>{{ solucion.ambito }}</td>
            <td>{{ solucion.responseChat }}</td>
            <td>{{ solucion.data }}</td>
            <td>{{ solucion.deleted }}</td>
        </tr>
        }
    </tbody>
</table>