/* You can add global styles to this file, and also import other style files */
body 
  overflow-x: hidden

:root
  background: linear-gradient(to right, #7fd8f1, #b1ebe3)
  font-family: "Rubik", sans-serif