<!-- Menú lateral -->
<app-menu class="menu-lateral"></app-menu>

<div class="contenedor-principal">
  <h1>Modificar solución</h1>

  <div id="formulario-modificar">
    <form *ngIf="solucion" (ngSubmit)="guardarCambios()">

      <!-- Sección de información general -->
      <div class="seccion">
        <h2 class="titulo-seccion">Información General</h2>

        <div class="grid-container">
          <div class="form-group col-6">
            <label for="title">Título:</label>
            <input [(ngModel)]="solucion.title" name="title" id="title" placeholder="Ingrese el título" />
          </div>

          <br>

          <div class="form-group col-6">
            <label for="subtitle">Subtítulo:</label>
            <input [(ngModel)]="solucion.subtitle" name="subtitle" id="subtitle" placeholder="Ingrese el subtítulo" />
          </div>

          <br>

          <div class="form-group col-6">
            <label for="icon">Icono:</label>
            <input [(ngModel)]="solucion.icon" name="icon" id="icon" placeholder="Nombre del icono" />
          </div>

          <br>

          <div class="form-group col-6">
            <label for="slug">Slug:</label>
            <input [(ngModel)]="solucion.slug" name="slug" id="slug" placeholder="URL amigable" />
          </div>

          <br>

          <div class="form-group col-6">
            <label for="titleweb">Título Web:</label>
            <input [(ngModel)]="solucion.titleweb" name="titleweb" id="titleweb" placeholder="Título para la web" />
          </div>
        </div>
      </div>

      <!-- Sección de multimedia -->
      <div class="seccion">
        <h2 class="titulo-seccion">Multimedia</h2>

        <div class="grid-container">
          <div class="form-group col-8">
            <label for="multimediaUri">Multimedia URI:</label>
            <input [(ngModel)]="solucion.multimediaUri" name="multimediaUri" id="multimediaUri"
              placeholder="URL del recurso multimedia" />
          </div>

          <br>

          <div class="form-group col-4">
            <label for="multimediaTypeId">Tipo de Multimedia:</label>
            <input [(ngModel)]="solucion.multimediaTypeId" name="multimediaTypeId" id="multimediaTypeId" type="number"
              placeholder="ID del tipo" />
          </div>
        </div>
      </div>

      <!-- Sección de problema y solución -->
      <div class="seccion">
        <h2 class="titulo-seccion">Problema y Solución</h2>

        <div class="subseccion">
          <h3 class="titulo-subseccion">Problema</h3>
          
          <!-- Botón para mostrar el formulario de creación -->
          <button *ngIf="mostrarBotonCrearProblema" type="button"
            (click)="mostrarCrearProblema = true; mostrarBotonCrearProblema = false">Crear Nuevo Problema</button>

          <!-- Formulario para crear un nuevo problema -->
          <form *ngIf="mostrarCrearProblema === true" (ngSubmit)="crearNuevoProblema()">
            <div class="grid-container">
              <div class="form-group col-6">
                <label for="nuevoProblemaTitle">Título del Problema:</label>
                <input type="text" id="nuevoProblemaTitle" [(ngModel)]="nuevoProblema.titulo" name="nuevoProblemaTitle"
                  required placeholder="Título del problema">
              </div>

              <br>

              <div class="form-group col-6">
                <label for="nuevoProblemaDescription">Descripción del Problema:</label>
                <textarea id="nuevoProblemaDescription" [(ngModel)]="nuevoProblema.description"
                  name="nuevoProblemaDescription" required placeholder="Descripción del problema"></textarea>
              </div>
            </div>
            <div class="botones-container">
              <button type="submit">Crear Problema</button>
              <button type="button" (click)="mostrarCrearProblema = false; mostrarBotonCrearProblema = true">Cancelar</button>
            </div>
          </form>
        </div>

        <div class="subseccion">
          <h3 class="titulo-subseccion">Problemas Asociados</h3>
          <div *ngIf="solucion?.problemas && solucion.problemas.length">
            <ul>
              <p *ngFor="let problema of solucion.problemas; let i = index" id="descripciones"
                (click)="eliminarProblema(i)">
                Título: {{ problema.titulo }} | Descripción: {{ problema.description }}
              </p>
            </ul>
          </div>
          <div *ngIf="!solucion?.problemas || solucion.problemas.length === 0">
            <p>No hay problemas asociados a esta solución.</p>
          </div>
        </div>

        <!-- Sección para buscar y añadir nuevos problemas -->
        <div class="subseccion">
          <h3 class="titulo-subseccion">Añadir Problema</h3>

          <div class="buscador-selector-container">
            <div class="form-group col-12">
              <label for="buscadorProblema">Seleccionar Problema:</label>
              <div class="custom-select">
                <input type="text" id="buscadorProblema" [(ngModel)]="buscadorProblema" name="buscadorProblema"
                  (input)="filtrarProblemas()" (focus)="mostrarOpcionesProblema = true"
                  (click)="mostrarOpcionesProblema = true" placeholder="Buscar y seleccionar problema..." />
                <div class="dropdown-menu" *ngIf="mostrarOpcionesProblema">
                  <div *ngFor="let problema of problemasFiltrados" class="dropdown-item"
                    (click)="seleccionarProblema(problema)">
                    {{ problema.titulo }} - {{ problema.description }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="botones-container">
            <button type="button" (click)="agregarProblema()">Añadir Problema</button>
          </div>
        </div>

      </div>

      <!-- Sección de características y casos de uso -->
      <div class="seccion">
        <h2 class="titulo-seccion">Características y Casos de Uso</h2>

        <div class="subseccion">
          <h3 class="titulo-subseccion">Características</h3>
          <div class="grid-container">
            <div class="form-group col-6">
              <label for="caracteristicasTitle">Título de Características:</label>
              <input [(ngModel)]="solucion.caracteristicasTitle" name="caracteristicasTitle" id="caracteristicasTitle"
                placeholder="Título de características" />
            </div>

            <br>

            <div class="form-group col-6">
              <label for="caracteristicasPragma">Descripción de Características:</label>
              <textarea [(ngModel)]="solucion.caracteristicasPragma" name="caracteristicasPragma"
                id="caracteristicasPragma" placeholder="Descripción de características"></textarea>
            </div>
          </div>
        </div>

        <div class="subseccion">
          <h3 class="titulo-subseccion">Casos de Uso</h3>
          <div class="grid-container">
            <div class="form-group col-6">
              <label for="casosdeusoTitle">Título de Casos de Uso:</label>
              <input [(ngModel)]="solucion.casosdeusoTitle" name="casosdeusoTitle" id="casosdeusoTitle"
                placeholder="Título de casos de uso" />
            </div>

            <br>

            <div class="form-group col-6">
              <label for="casosdeusoPragma">Descripción de Casos de Uso:</label>
              <textarea [(ngModel)]="solucion.casosdeusoPragma" name="casosdeusoPragma" id="casosdeusoPragma"
                placeholder="Descripción de casos de uso"></textarea>
            </div>
          </div>
        </div>
      </div>

      <!-- Sección de CTAs -->
      <div class="seccion">
        <h2 class="titulo-seccion">Llamadas a la Acción (CTAs)</h2>

        <div class="subseccion">
          <h3 class="titulo-subseccion">Primera CTA</h3>
          <div class="grid-container">
            <div class="form-group col-6">
              <label for="firstCtaTitle">Título del Primer CTA:</label>
              <input [(ngModel)]="solucion.firstCtaTitle" name="firstCtaTitle" id="firstCtaTitle"
                placeholder="Título del primer CTA" />
            </div>

            <br>

            <div class="form-group col-6">
              <label for="firstCtaPragma">Descripción del Primer CTA:</label>
              <textarea [(ngModel)]="solucion.firstCtaPragma" name="firstCtaPragma" id="firstCtaPragma"
                placeholder="Descripción del primer CTA"></textarea>
            </div>
          </div>
        </div>

        <div class="subseccion">
          <h3 class="titulo-subseccion">Segunda CTA</h3>
          <div class="grid-container">
            <div class="form-group col-6">
              <label for="secondCtaTitle">Título del Segundo CTA:</label>
              <input [(ngModel)]="solucion.secondCtaTitle" name="secondCtaTitle" id="secondCtaTitle"
                placeholder="Título del segundo CTA" />
            </div>

            <br>

            <div class="form-group col-6">
              <label for="secondCtaPragma">Descripción del Segundo CTA:</label>
              <textarea [(ngModel)]="solucion.secondCtaPragma" name="secondCtaPragma" id="secondCtaPragma"
                placeholder="Descripción del segundo CTA"></textarea>
            </div>
          </div>
        </div>
      </div>

      <!-- Sección de beneficios -->
      <div class="seccion">
        <h2 class="titulo-seccion">Beneficios</h2>

        <div class="subseccion">
          <h3 class="titulo-subseccion">Crear beneficios</h3>

          <button *ngIf="mostrarBotonCrear" type="button"
            (click)="mostrarCrearBeneficio = true; mostrarBotonCrear = false">Crear</button>

          <form *ngIf="mostrarCrearBeneficio === true" (ngSubmit)="crearNuevoBeneficio()">
            <div class="form-group">
              <label for="nuevoTitulo">Título:</label>
              <input type="text" id="nuevoTitulo" [(ngModel)]="nuevoBeneficio.titulo" name="nuevoTitulo" required>
            </div>
            <div class="form-group">
              <label for="nuevaDescripcion">Descripción:</label>
              <textarea id="nuevaDescripcion" [(ngModel)]="nuevoBeneficio.description" name="nuevaDescripcion"
                required></textarea>
            </div>
            <button type="submit">Crear Beneficio</button>
            <button type="button" (click)="mostrarCrearBeneficio = false; mostrarBotonCrear = true">Cancelar</button>
          </form>
        </div>

        <div class="subseccion">
          <h3 class="titulo-subseccion">Añadir beneficios a la solución con ID {{ solucion.id_solucion }}</h3>
          <div class="buscador-selector-container">
            <div class="form-group col-12">
              <label for="buscadorBeneficio">Seleccionar Beneficio:</label>
              <div class="custom-select">
                <input type="text" id="buscadorBeneficio" [(ngModel)]="buscadorBeneficio" name="buscadorBeneficio"
                  (input)="filtrarBeneficios()" (focus)="mostrarOpciones = true" (click)="mostrarOpciones = true"
                  placeholder="Buscar y seleccionar beneficio..." />
                <div class="dropdown-menu" *ngIf="mostrarOpciones">
                  <div *ngFor="let beneficio of beneficiosFiltrados" class="dropdown-item"
                    (click)="seleccionarBeneficio(beneficio)">
                    {{ beneficio.description }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="botones-container">
          <button type="button" (click)="agregarBeneficio()">Añadir Beneficio</button>
        </div>

        <div class="subseccion">
          <h3 class="titulo-subseccion">Beneficios asociados a la solución con ID {{ solucion.id_solucion }} | (Click al
            beneficio que quiere eliminar)</h3>
          <div *ngIf="solucion?.beneficios && solucion.beneficios.length">
            <ul>
              <p *ngFor="let beneficio of solucion.beneficios; let i = index" id="descripciones"
                (click)="eliminarBeneficio(i)">
                Descripción: {{ beneficio.description }}
              </p>
            </ul>
          </div>
          <div *ngIf="!solucion?.beneficios || solucion.beneficios.length === 0">
            <p>No hay beneficios asociados a esta solución.</p>
          </div>
        </div>
      </div>

      <div class="botones-container">
        <button type="submit">Guardar Cambios</button>
        <button type="button" class="btn-secondary" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>