<div id="carrusel">
    <div class="bloque" *ngFor="let bloque of bloquesVisibles">
        <img [src]="bloque.imagen" alt="Imagen del bloque">
        <p class="titulo">{{ bloque.titulo }}</p>
        <p class="descripcion">{{ bloque.descripcion }}</p>
    </div>
</div>

<div id="botones">
    @for (bloque of bloques; let i = $index; track i) {
        @if (i === botonSeleccionado) {
            <button (click)="cambiarBloques(i)" class="seleccionado"></button>
        } @else {
            <button (click)="cambiarBloques(i)"></button>
        }
    }
</div>

<button id="botonDescubre">Descubre más sobre NormaPro</button>