<div id="carrusel">
    <div id="bloque1">
        <p id="titulo">dawdaw</p>
        <p id="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dicta quis dolorem voluptates mollitia rerum impedit nihil magni quibusdam blanditiis ut, itaque enim unde! Ut quis sed tenetur. Placeat, rerum.</p>
    </div>
    <div id="bloque2">
        <p id="titulo">dawdaw</p>
        <p id="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dicta quis dolorem voluptates mollitia rerum impedit nihil magni quibusdam blanditiis ut, itaque enim unde! Ut quis sed tenetur. Placeat, rerum.</p>
    </div>
    <div id="bloque3">
        <p id="titulo">dawdaw</p>
        <p id="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dicta quis dolorem voluptates mollitia rerum impedit nihil magni quibusdam blanditiis ut, itaque enim unde! Ut quis sed tenetur. Placeat, rerum.</p>
    </div>
    <div id="bloque4">
        <p id="titulo">dawdaw</p>
        <p id="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dicta quis dolorem voluptates mollitia rerum impedit nihil magni quibusdam blanditiis ut, itaque enim unde! Ut quis sed tenetur. Placeat, rerum.</p>
    </div>
    <div id="bloque5">
        <p id="titulo">dawdaw</p>
        <p id="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dicta quis dolorem voluptates mollitia rerum impedit nihil magni quibusdam blanditiis ut, itaque enim unde! Ut quis sed tenetur. Placeat, rerum.</p>
    </div>
    <div id="bloque6">
        <p id="titulo">dawdaw</p>
        <p id="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dicta quis dolorem voluptates mollitia rerum impedit nihil magni quibusdam blanditiis ut, itaque enim unde! Ut quis sed tenetur. Placeat, rerum.</p>
    </div>
</div>