#encabezado
  position: absolute
  top: 190px
  left: 978px
  text-align: center
  white-space: nowrap

  h1 
    color: #010d3d

  p
    color: #4f7994
    font-weight: 550


#carrusel
  display: flex
  justify-content: center
  align-items: center
  gap: 20px
  width: 100%
  height: 930px
  margin-left: 130px

.bloque
  background-color: rgba(170, 229, 244, 0.9)
  padding: 20px
  border-radius: 20px
  width: 250px
  height: 260px

button
  border-radius: 50%
  padding: 5px
  border: none
  cursor: pointer
  background-color: white
  transition: background-color 0.3s ease

.seleccionado
  background-color: #010d3d

#botones
  display: flex
  gap: 10px
  margin-top: -290px
  margin-left: 595px

#botonDescubre
  background-color: #010d3d
  color: white
  border-radius: 10px
  padding: 10px
  font-weight: 650
  font-family: "Raleway", sans-serif
  width: 290px
  border: none
  margin-left: 505px
  margin-top: 30px

.titulo
  color: #010d3d
  text-align: center
  font-size: 20px
  font-weight: 500


@media (max-width: 1440px)

  #encabezado
    top: 140px
    left: 998px

  #carrusel
    margin-top: -50px