#carrusel
  display: flex
  justify-content: center
  align-items: center
  gap: 20px
  width: 100%
  height: 930px
  margin-left: 130px

.bloque
  background-color: rgba(170, 229, 244, 0.9)
  padding: 20px
  border-radius: 20px
  width: 250px
  height: 260px

button
  border-radius: 50%
  padding: 5px
  border: none
  cursor: pointer
  background-color: white
  transition: background-color 0.3s ease

.seleccionado
  background-color: rgb(0, 0, 62)

#botones
  display: flex
  gap: 10px
  margin-top: -290px
  margin-left: 595px

#botonDescubre
  background-color: rgb(0, 0, 62)
  color: white
  border-radius: 10px
  padding: 10px
  font-weight: 650
  font-family: "Raleway", sans-serif
  width: 290px
  border: none
  margin-left: 505px
  margin-top: 30px

.titulo
  color: rgb(0, 0, 62)
  font-size: 20px
  font-weight:

@media (max-width: 1440px)
  #carrusel
    margin-bottom: 75px